.projects-container {
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--back);
  overflow: hidden;
}
.projects-container h1 {
  width: 100%;
  text-align: center;
  font-size: 5vh;
  color: rgb(88, 86, 86);
  margin-bottom: 30px;
  transition: transform 300ms linear;
}
.projects-container h1.appear {
  transform: translateY(0);
}

.projects-body {
  width: 80%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.slider-view {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.grid-view {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 768px) {
  .projects-container {
    padding-top: 50px;
    height: auto;
  }
  .slider-view {
    display: flex;
  }
  .grid-view {
    display: none;
  }
  .projects-container h1 {
    font-size: 30px;
  }
}
