.bubble-container {
  border: 1px solid var(--primary-white);
  border-radius: 100%;
  background: transparent;
  padding: 20px;
  display: flex;
  text-align: center;
  color: var(--primary-white);
  font-size: 30px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .bubble-container {
    font-size: 10px;
    padding: 5%;
    font-weight: 100;
  }
}
